@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here
*/
    
    nav ul li a {padding: 0.6rem 1rem;}
  
  article p.town-article img { width: 29.333%; }

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
}  

    .grid div:hover {
        box-shadow: 5px 5px 10px gray;
    }




}

footer  {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
   
  
    text-align: center;
   
}
