/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
    
}

header, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

header {
    margin-bottom: 0;
    background-color: #2980B9;
    color: white;
    padding-bottom: 2%;
}



//-------------------------nav----------------------------------

.wrapbutton {
    overflow: hidden;
}
nav button {
    float: right;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color:darkblue;
   
    
   
}

nav {
    
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    
}

nav ul { 
    background-color: #a0cfec;
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top:1px solid rgba(0,0,0,0.3);
    
}
nav ul li.active a {background-color: cadetblue; color: white}
nav ul li a:hover {background-color: #2980B9; color: #fff}

nav ul.hide {display: none;}

//----------------------------main------------------------------


main figure { margin: 0 0 .2rem 2%; width:50%; }
main figure img { width: 80%;}

.forecast {
    display: none;
}
.middle {
    margin-left: 10%;
    margin-right: 10%;
}
}
h1 {
    text-align: center;
}


h3 {
    text-align: center;
    font-size: 20px;
}
picture {
    float: right;
}
.current {
    font-size: 20px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
   
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}
.highlow {
    font-size: 17px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}



.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 12px;
    
}

.grid img {
    width: 96%
}


article {
    background-color: azure;
    padding-top: 0.5%;
    padding-bottom: 2%;
}

.town-article {
    text-align: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
  
    
   
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 90%; /* fill the page in the small/phone view */
  margin-left: 2%;
  margin-right: 5%;
  margin-bottom: 5%;
}


section article {
  width: 100%;
  float: left;
    text-align: center;
 

}



section p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 14px;
   
  
}

section ul {
  margin-top: 0;
    
    list-style-type: none;
 
    font-size: 14px;
}




//---------------------------------------formcss----------------------------


label {
    display: block;
    margin: 0.6em;
}

label span {
    display: block;
    color: $917a56;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

form fieldset {
    margin-bottom:15px;background-color:#E3E4FA;
    border-radius: 0.7em;
    margin: 1.6em 0;
    border: maroon solid 1px;
}



legend { 
    color: #7d2a35;
    margin-left: 6%;
    padding: .5em;
    border: darkgray solid 1px;
    background-color: #f2eee7;
    border-radius: .5em;
}



form {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    margin: 3%;
}


input {
    display: inline-block;
    margin-left; 10px;
}




//---------------------------------footer---------------------------------

footer  {

    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 9px;
    text-align: center;
    
    
  
}
footer aside {
   clear: both;
   margin-top: 10%;
    
}
footer aside p {
    margin:0;
    font-size: 11px;
    background-color: #a0cfec;
    padding: 2px;
    color: darkblue;
   
    
    

   
} /* This structure refers to p elements that are direct children of the footer element */

footer p.footer-bar {
    font-size: 11px;
    text-align: center;
    background-color: #2980B9;
    color: whitesmoke;
    padding: 9px;
    margin: 0;
}

//------------clearfix-----------------------------------
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
}