body main, footer { 
    font-size: 14px; 
    line-height: 32px;
    font-family:  Ubuntu, sans-serif;
    text-align: center;
    
}
main {
    text-align: center;
    font-family:  Ubuntu, sans-serif; 
}

table {
    
    border-collapse: collapse;
    margin:2%;
    width: 250px;
     box-shadow: 5px 5px 10px gray;
}

table, th, td {
    border: 1px solid lightgray;
    padding-top: 0;
    padding-bottom: 0;
}

thead {
    
    background-color: #7fb9c2;
    font-size: 20px;
   
}

tbody {
    background-color: #e7f0ed;
}

tfoot {
    background-color: #7fb9c2;
    font-size: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

tbody tr:nth-child(1) {
   background-color: #628ca6;
   color: white;
   font-weight: bold; 
    font-size: 15px;
}

tbody tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
   color: white;
}

.italic {
    font-style: italic;
}