/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

//-----------------------header-----------------------------
header {
    margin-bottom: 2%;
}
}
header h1 {

}
header img {}
header .subheading {}
//-------------------------nav----------------------------------
nav {
    
}
nav button {
    display: block;
    float: right;
}
nav ul { 
    display: none;
}
nav ul li {
  
}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

//----------------------------main------------------------------
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

.forecast {
    display: none;
}
h1 {
    text-align: center;
}
.forecast {
    display: none;
}
h3 {
    text-align: center;
    font-size: 20px;
}
picture {
    float: right;
}
.current {
    font-size: 20px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
   
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}
.highlow {
    font-size: 17px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
   
    text-align: center;
    

}

section {}

.town-article {
    text-align: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 90%; /* fill the page in the small/phone view */
  margin-left: 2%;
  margin-right: 5%;
  margin-bottom: 5%;
}
//---------------------------------footer---------------------------------
footer {
   font-size: 10px;
}
footer aside {
   clear: both;
   margin-top: 10%;
    
}
footer aside p {
    margin: 0;
   
} /* This structure refers to p elements that are direct children of the footer element */

//------------clearfix-----------------------------------
.clearfix:after {
    context: "";
    display: table;
    clear: both;
}
}