@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
  nav button { 
      display:none; 
    }  /* hamburger button does not need to be shown */
    
    nav {
        display: block;
    }
  
    nav ul {
        display: block;
    }
  section.forecast { 
      display: block; 
    }  /* show the 10-day forecast with the medium view and up */


    
li {
    display: inline;
    float: left;
}
li a{
    display: block;
    padding: 8px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a0cfec;
}
.forecast {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    
}
 footer aside {
   clear: both;
   margin-top: auto;
}



  
  article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

